body {
  background-color: #333;
  color: #ccc;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}
a.forget-me {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
header {
  background-color: #000;
  border-bottom: 3px solid #FFBBDA;
  box-shadow: 0 0 15px #FF0099;
  margin-bottom: 50px;
  min-height: 13vh;
}
h1.header {
  color: #EEE;
  font-size: 2.5em;
  font-family: 'Press Start 2P';
  padding: 12px 0 24px 12px;
  text-shadow: 0 0 8px #00FFCC, 0 0 12px #00FFCC;
}
.social-list {
  position: absolute;
  right: 0;
  list-style-type: none;
  text-align: right;
}
.social-list > li {
  display: inline;
}
.social-list .fa {
  font-size: 1.5em;
  padding: 3px;
  margin-left: 6px;
  color: #CCC;
}

/* FOOTER */
footer {
  background-color: #000;
  border-top: 3px solid #EEE;
  box-shadow: 0 0 15px #00FFCC;
  margin-top: 50px;
  min-height: 5vh;
}
.footer {
  font-size: 0.5em;
  padding: 12px 0 24px 12px;
  font-family: 'Press Start 2P';
}

main {
  min-height: 70vh;
}

/* LIST */
h2.summary-post-title::before {
  content: '> ';
}
h2.summary-post-title {
  font-size: 1.4em;
  padding-right: 6px;
  display: inline-block;
  cursor: pointer;
  font-family: 'Press Start 2P';
  text-shadow: 0 0 3px #FF0099, 0 0 6px #FF0099;
}
h2.summary-post-title:hover {
  border-right-width: 14px;
  border-right-color: #CCC;
  border-right-style: solid;
  animation: cursor-blink 1s infinite;
}
.date-pub {
  font-size: 0.6em;
}
img.cover {
  margin: auto;
}
.read-post {
  font-family: 'Press Start 2P';
  font-size: 0.7em;
  color: #CCC;
  text-decoration: underline;
  font-variant: small-caps;
  font-style: italic;
}

/* POST */
h1.post-title {
  font-size: 1.7em;
  padding-right: 6px;
  margin-bottom: 20px;
  text-transform: capitalize;
  display: inline-block;
  font-family: 'Press Start 2P';
  text-shadow: 0 0 3px #00FFCC, 0 0 6px #00FFCC;
  font-variant: small-caps;
}
.post-content h1 {
  font-size: 1.5em;
  padding-right: 6px;
  padding-left: 12px;
  margin-bottom: 15px;
  margin-top: 30px;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0 0 8px #FF0099;
  font-family: 'Press Start 2P';
}
.post-content h2 {
  font-size: 1.3em;
  padding-right: 6px;
  padding-left: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-shadow: 0 0 8px #FF0099;
  font-family: 'Press Start 2P';
}
.post-content h3 {
  font-size: 0.9em;
  padding-right: 6px;
  padding-left: 25px;
  font-family: 'Press Start 2P';
  text-shadow: 0 0 8px #FF0099;
}
.post-content hr {
  background-color: #CCC;
  border-top: 3px solid #EEE;
  box-shadow: 0 0 15px #00FFCC;
  height: 1px;
  width: 100%;
}
.post-content blockquote {
  background-color: #222;
  margin-left: 3vw;
  padding: 3px 3px 0 6px;
}
.post-content a {
  color: #FF0099;
}
#TableOfContents a {
  text-decoration: none;
  color: #FF0099;
}

@keyframes cursor-blink {
  0% {border-right-color: #CCC;}
  50% {border-right-color: #CCC;}
  51% {border-right-color: transparent;}
  100% {border-right-color: transparent;}
}

/* PAGINATION */
div.pagination-container {
  padding-top: 100px;
  margin: auto;
}
ul.pagination {
  font-size: 0.9em;
  font-family: 'Press Start 2P';
  text-shadow: 0 0 3px #00FFCC, 0 0 6px #00FFCC;
}
ul.pagination a {
  color: inherit;
  font-family: inherit;
}
ul.pagination li {
  margin-left: 12px;
}
ul.pagination li.disabled {
  text-shadow: none;
}
ul.pagination li.active {
  margin-left: 12px;
  text-shadow: none;
}
